body{
    min-height: 100vh;
    display: flex;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;
    background-color:#096387;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.card{
    background-color: #fff;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
    padding: 30px;
    text-align: left;
}
.card h2{
    color: purple;
    text-align: center;
}
.card p{
    text-align: center;
    font-style: italic;
    font-size: 1.2rem;
}
.card label{
    font-size: 1.2rem;
}

.card input,
.card select{
    border-style: none;
    height: 20px;
    font-size: 1rem;
    border-bottom: solid 1px #333;
}

.card input:focus,
.card select:focus{
    outline-style: none;
}

.card label,
.card input{
    margin-bottom: 10px;
}
.card #age,
.card #name{
    width: 100%;
}
.card select{
    font-size: 1rem;
}
.card form{
    padding: 30px;
}

.card #face-mask{
    outline: none;
}

.card .visits{
    font-size: 1.1rem;
    padding: 10px 0;
    text-align: center;
    font-style: italic;
    font-weight: bold;
    background-color: rgba(0,0,0,0.2);
}

.btn{
    outline-style: none;
    border-radius: 7px;
    background-color:purple;
    color: #fff;
    cursor: pointer;
    padding: 5px 20px;
    height: 35px;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 30px 30%;
}

button:hover{
    transform: scaleX(0.92);
}

